.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar .logo {
   width: 150px;
}

.navbar-menu {
   display: flex;
   list-style: none;
   gap: 20px;
   color: #49557e;
   font-size: 18px;

}

.navbar-right {
   display: flex;
   align-items: center;
   gap: 35px;
   scale: 80%;
   cursor: pointer;
}

.navbar button {
   background: transparent;
   font-size: 16px;
   color: #49557e;
   border: 1px solid tomato;
   padding: 10px 30px;
   border-radius: 50pc;
   cursor: pointer;
   transition: 0.5;
}

.navbar button:hover {
   color: white;
   background-color: tomato;
}

.navbar .active {
   padding-bottom: 2px;
   border-bottom: 2px solid tomato;
}

.navbar .active::after {
   width: 0;
   height: 0;
}

.navbar li {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.navbar li::after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background-color: tomato;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s ease;
}

.navbar li:hover::after {
   transform: scaleX(1);
}

.navbar-search-icon {
   position: relative;
}

.navbar-search-icon .dot {
   position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color: tomato;
   border-radius: 5px;
   top: -8px;
   right: -8px;
}
