.header {
   height: 34vw;
   margin: 30px auto;
   background: url('../../assets/header_img.png');
   position: relative;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   margin-bottom: 3.5rem;
   border-radius: 7px;
}

.header-contents {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 1.5vw;
   max-width: 50%;
   bottom: 10%;
   left: 6vw;
   animation: fade-in 3s;
}

.header-contents h2 {
   font-weight: 500;
   color: white;
   font-size: max(4.5vw, 22px);
}

.header-contents p {
   color: white;
   font-size: 1vw;
   z-index: 1;
}

.header-contents button {
   border: none;
   color: tomato;
   font-weight: 600;
   padding: 1vw 2.3vw;
   background-color: white;
   font-size: max(1vw 13px);
   border-radius: 50px;
   transition: transform 0.3s ease;
}

.header-contents button:hover {
   cursor: pointer;
   transform: scale(1.05);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
/*  Media Queries */
@media (max-width: 1050px) {
   .header-contents{
      max-width: 45%;
   }
}
@media (max-width: 750px) {
   .header-contents{
      max-width: 65%;
   }
   .header-contents P{
      display: none;
   }
   .header-contents button{
      padding: 2vw 4vw;
   }
}
